/*-- GRID SYSTEM --*/

$pad: 20px;

* {
	@include box-sizing(border-box);
}

[class*='col-'] {
  float: left;
  padding-right: $pad;
  .grid &:last-of-type {
    padding-right: 0;
  }
}

.grid-container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
  	padding: $pad 0 $pad $pad;

  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}

.grid:after, .blog:after, .shop:after {
  content: "";
  display: table;
  clear: both;
}

.module {
  padding: 0 $pad;
}

/*--- GRID ---*/

.fwidth {
	width: 100%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-1-4 {
	width: 25%;
}

.col-1-8 {
	width: 12.5%;
}