/*-- GRID SYSTEM --*/

[class*='col-'] {
	float: left;
	color: white;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

.grid-container{
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

.grid:after, .blog:after {
  content: "";
  display: table;
  clear: both;
}

.module {
  padding: 0 20px;
}

.col-1-1, .fwidth {
	width: 100%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-2 {
	width: 50%;
	background-color: #D9CB9E;
}

.col-1-3 {
	width: 33.33%;
	background-color: #374140;
}