@charset "UTF-8";
/* Large CSS Document */

/*-- VARIABLES --*/

/* colors */
$red: #DC3522;
$lightGray: #374140;
$gray: #2A2C2B;
$darkGray: #1E1E20;
$brightTan: #D9CB9E;
$white: #FFFFFF;

/* fonts */
.header { 
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.paragraph {
	font-family: 'Open Sans', sans-serif;
}





/*- LAYOUT -*/
a {
	text-decoration: none;
}

h1 {
	text-align: center;
	@extend .header;
	color: $red;
	padding: 50px 0 30px 0;
}

.blog h1, .shop h1 {
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0 80px 0;
	font-size: 15px;
}





/*- LANDING PAGE -*/
.navmenu {
	position: fixed;
	height: 75px;
	top: 0px;
}

.navmenu ul {
	margin-top: 15px;
}

.navmenu a li {
	display: inline;
	color: white;
	font-size: 15px;
	padding: 15px 20px;
	@extend .header;
}

.navmenu a li:hover {
	text-decoration: none;
}

.homepic {
	position: static;
	display: block;
	height: 48em;
	/*background-image: url(http://hd-wallpapersx.com/file/2279/2880x1800/crop/full-moon-cat.jpg);*/
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $red;
	top: 0;
	@extend .header;
}

.homepic .box {
	position: absolute;
	left:0;
    right:0;
    margin-top: 200px;
}

.homepic h1 {
	text-align: center;
	font-size: 8em;
	color: $white;
	@extend .header;
}

.homepic h3 {
	margin-right: 47px;
	float: right;
	font-size: 28px;
	margin-top: -10px;
	color: $lightGray;
	@extend .paragraph;
}





/*- BLOG -*/
.blog, .shop {
	padding: 50px 0 30px 0;
}

.blog h1 {
	color: $lightGray;
	@extend .header;
}

.blog a, .post h2 {
	color: $red;
}

.post p{
	border-bottom: #EAEAEA 1px inset;
	padding: 0 0 30px 0;
	margin-bottom: 30px;
	@extend .paragraph;
}

.post a h2 {
  font-size: 23px;
  margin: 3px 0;
  @extend .header;
}

.post p {
  color: #7F8C8D;
  font-weight: 400;
  font-size: 18px;
}





/*- SHOP -*/
.shop {
	background-color: $darkGray;
}

.shop h1, .shop h2 {
	@extend .header;
}

.shop h2 {
	font-size: 30px;
	background-color: $darkGray;
}

.shop h1, .shop ul li {
	color: $white;
}

.shop ul a li {
	@extend .paragraph;
}

.clazz {
	padding: 20px;
	background-color: $lightGray;
	@extend .paragraph;
}

.clazz h3 {
	font-size: 18px;
	font-weight: 600;
	color: $red;
}

.clazz p {
	font-size: 15px;
	color: $white;
}

.clazz .piktur {
	background-color: white;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
}





/*- FOOTER -*/
.footer {
	position: static;
	display: block;
	width: 100%;
	background-color: $white;
}

.footer p { 
	text-align: center;
	letter-spacing: 1px;
	font-size: 15px;
	padding: 40px;
	color: $brightTan;
	@extend .header;
}





/*- FORUMS -*/
.forums {
	@extend .header;
	color: $red;
	background-color: $white;
	padding: 40px 0 50px 0;
	margin: 0 0 20px 0;
}

.threadcontainer {
	padding: 0 30px;
}

.thread {
	padding: 10px 20px 0 20px;
	border-bottom: 1px inset #F5F5F5;
	height: 98px;
	margin: 15px 0;
	&:after {
		content: "";
  		display: table;
  		clear: both;
	}
	&:first-child {
		margin: 0 0 15px 0;
	}

	&:last-child {
		margin: 15px 0 0 0;
		border: none;
	}
}

.thread-pic {
	background-color: $red;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	margin: 8px 0 0 5px;
}

// Thread title for list of threads
.thread-title {
	@extend .header;
	float: left;
	width: 70%;
	font-size: 17px;
	color: $darkGray;
	margin-left: 78px;

	padding-bottom: 12px; // For the dashed line between title and author
	border-bottom: 1px dashed #eee;
}

.thread p {
	@extend .paragraph;
	float: right;
	width: 18%;
	text-align: right;
	font-family: 15px;
	margin-top: -1px;
}

// Thread author for list of threads
.thread-author {
	@extend .paragraph;
	float: right;
	width: 18%;
	text-align: right;
	font-family: 15px;

	float: left;
	margin-left: 78px;
	text-align: left;
	color: $red;
	margin-top: -16px;
}

.thread a h6 span {
	float: right;
	text-align: right;
	@extend .paragraph;
	font-size: 15px;
	background-color: $red;
	color: $white;
	padding: 5px;
	margin-top: -26px;
}

.fthread, .fbar {
	position: fixed;
	z-index: -100;
	height: 100%;
}

.fbar {
	right: 0;
	background-color: $red;
}

/* Forum Navigation Menu */
.forumnav {
	width: 100%;
	background-color: $red;
	margin-left: -20px;
	padding: 15px 0;
}

.navmenu ul {
	position: static;
	margin-top: 15px;
}