@charset "UTF-8";
/* Large CSS Document */

/*--Red--*/
.homepic h1, .blog a, .post h2, .shop h1
{color: #DC3522;}

/*--LightGray--*/
.homepic h3, .blog h1
{color: #374140;}

/*--Gray--*/

{color: #2A2C2B;}

/*--DarkGray--*/

{color: #1E1E20;}

/*--BrightTan--*/
.footer p
{color: #D9CB9E;}

/*--White--*/
.homepic h1, .shop ul a li
{color: #FFFFFF;}



/*--Background-Red--*/
.homepic
{background-color: #DC3522;}

/*--Background-LightGray--*/

{background-color: #374140;}

/*--Background-Gray--*/

{background-color: #2A2C2B;}

/*--Background-DarkGray--*/
.shop
{background-color: #1E1E20;}

/*--Background-BrightTan--*/

{background-color: #D9CB9E;}

/*--Background-White--*/
.footer
{background-color: #FFFFFF;}



/*--Open Sans--*/ /* 300, 400, 600 */
.homepic h3, .blog p, .shop ul a li
{font-family: 'Open Sans', sans-serif;}

/*--Monsterrat--*/ /* 400, 700 */
.navmenu a li, .homepic h1, .footer p, .blog h1, .post h2, .shop h1
{font-family: 'Montserrat', sans-serif; font-weight: 400; text-transform: uppercase;}





/*- LAYOUT -*/
a {
	text-decoration: none;
}

.blog h1 {
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0 30px 0;
}





/*- LANDING PAGE -*/
.navmenu {
	position: fixed;
	height: 75px;
}

.navmenu ul {
	margin-top: 15px;
}

.navmenu a li {
	display: inline;
	color: white;
	font-size: 16px;
	padding: 15px 20px;
}

.navmenu a li:hover {
	text-decoration: none;
}

.homepic {
	position: static;
	display: block;
	height: 48em;
	/*background-image: url(http://hd-wallpapersx.com/file/2279/2880x1800/crop/full-moon-cat.jpg);*/
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0;
}

.homepic .box {
	position: absolute;
	left:0;
    right:0;
    margin-top: 200px;
}

.homepic h1 {
	text-align: center;
	font-size: 8em;
}

.homepic h3 {
	margin-right: 47px;
	float: right;
	font-size: 28px;
	margin-top: -10px;
}





/*- BLOG -*/
.blog {
	padding: 50px 0 30px 0;
}

.post a h2 {
  font-size: 27px;
  margin: 3px 0;
}

.post p {
  color: #7F8C8D;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 60px;
}





/*- SHOP -*/
.shop .container {
	margin: auto;
}

.shop h1 {
	font-size: 30px;
}

.shop ul {

}

.shop ul a li {

}





/*- FOOTER -*/
.footer {
	position: static;
	display: block;
	width: 100%;
}

.footer p { 
	text-align: center;
	letter-spacing: 1px;
	font-size: 15px;
	padding: 40px;
}